#dashboard {
}

#dashboardTitle {
	font-family: "Oxygen", sans-serif;
	font-weight: lighter;
	font-size: 1.5vw;
	color: #171717;
	
	margin-left: 3vw;
	margin-top:    1.7vw;
	margin-bottom: 1vw;
}
#dashboardTitle span {
	color: #878787;
}

#sponsorships {
	margin-left: 3vw;
	margin-top: 0.6vw;
	
	width: 54vw;
	height: 19vw;
	padding: 0vw;

	background: #EFEFEF;
	border: 2px solid #E1E1E1;
	border-radius: 1vw;
	
	position: relative;
	
	display: grid;
	grid-auto-rows: 3vw;
	grid-template-columns: 1fr;
	
	overflow: hidden;
}
#sponsorships .sponsorship {
	width: 100%;
	padding-left: 1.5vw;
	padding-top: 0.2vw;
	padding-bottom: 0.2vw;
	
	background: #F4F6F7;
	border-bottom: 1px solid #ccc;
	
	font-family: "Oxygen", sans-serif;
	font-weight: lighter;
	text-align: left;
	font-size: 1.35vw;
	line-height: 2.5vw;
	color: #222;
	
	user-select: none;

	transition: background 0.15s;
}
#sponsorships .sponsorship:hover {
	background: #e8ebeb;
	cursor: pointer;
}
#sponsorships .sponsorship.accepted {
	background: #b8f8d5;
	cursor: pointer;
}
#sponsorships .sponsorship #sponsorshipAmount {
	color: #208d51;
	margin-left: 1.5vw;
}

#noSponsorshipsTitle.inactive {
	display: none;
}
#noSponsorshipsTitle {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	font-family: "Oxygen", sans-serif;
	font-weight: lighter;
	text-align: center;
	font-size: 2vw;
	color: #222;
	
	user-select: none;
}

#dashboard #upgrades {
	display: grid;
	grid-template-columns: repeat(2, 24vw);
	grid-auto-rows: 15vw;
	row-gap: 3.5vw;
	column-gap: 5vw;
	grid-auto-columns: min-content;

	width: 50vw;
	margin-left: 3vw;
}

#dashboard #upgrades .upgrade {
	width: 100%;
	height: 100%;

	background: #EFEFEF;
	border: 2px solid #E1E1E1;
	border-radius: 0.6vw;

	font-family: "Oxygen", sans-serif;
	font-weight: lighter;
	font-size: 1.3vw;
	color: #4A4A4A;

	display: grid;
	grid-template-areas: "title"
						 "desc"
						 "cost";
	grid-template-columns: 1fr;
	grid-template-rows: 1fr, 3fr, 0.5fr 0.5fr;

	user-select: none;
	cursor: pointer;
	transition: transform 0.15s, background 0.1s;
}
.upgrade.bought {
	background-color: #dcffea !important;
}
.upgrade.blocked {
	background-color: #ffd9d6 !important;
}
#dashboard #upgrades .upgrade:hover {
	transform: scale(1.02);
}
#upgradeTitle {
	color: #242424;
	font-size: 2.2vw;

	margin-top: 1.7vw;
	margin-left: 2.1vw;
}
#upgradeDesc, #upgradeCostTitle {
	width: 70%;

	color: #5e5e5e;
	font-size: 1.4vw;
	line-height: 1.5vw;

	margin-left: 2.1vw;
	margin-top: 0.5vw;
	margin-bottom: 0.2vw;
}
#upgradeDesc {
	margin-top: -0.8vw;
}

.upgrade div #costs {
	margin-top: 0.3vw;
	margin-left: 2.1vw;
	transform: rotateY(0deg);
}

#likes {
	display: inline-block;
	margin-left: 0.4vw;
	color: #F53327;
}
#followers {
	display: inline-block;
	margin-left: 0.4vw;
	color: #1da0f7;
}
#money, #paymentAmount {
	color: #208d51;
	padding: 0;
}
#comments {
	display: inline-block;
	margin-left: 2vw;
	color: #333;
}
#money::before {
	display: inline;
	content: "$";
}
#followers::after {
	display: inline-block;
	content: " followers";
}
#likes::before {
	display: inline-block;
	content: "";

	position: relative;
	top: 0.3vw;
	left: -0.4vw;

	width:  1.5vw;
	height: 1.5vw;

	background-image: url("../images/like.png");
	background-repeat: no-repeat;
	background-size: contain;
}
#comments::before {
	display: inline-block;
	content: "";

	position: relative;
	top: 0.4vw;
	left: -0.4vw;

	width: 1.5vw;
	height: 1.5vw;

	background-image: url("../images/comment.png");
	background-position-y: 0.1vh;
	background-repeat: no-repeat;
	background-size: contain;
}