* {
	margin: 0;
	padding: 0;
	-webkit-user-drag: none;
	user-select: none;
}
body {
	overflow: scroll;
	overflow-x: hidden;
	background: #EAEAEA;
}
::-webkit-scrollbar {
	width: 6px;
	background: #E9E9E9;
}
::-webkit-scrollbar-thumb {
	background: #C2C2C2;
}
::-webkit-scrollbar-thumb:hover {
	background: #a0a0a0;
}
::selection {
	background: #a9dbf152;
}

header {
	width: 100vw;
	height: 40vh;

	margin-bottom: -4.7vh;

	background: #333;
	background-image: url("../images/bokeh.jpg");
	background-repeat: no-repeat;
	background-position-y: top;
	background-size: cover;
}
#content {
	display: grid;
	grid-template-areas: "info title"
						 "info main";
	grid-template-columns: 25vw 75vw;
	grid-template-rows: 9vw calc(200vh - 9vw);
	
	width: 100vw;
	background: transparent;
}
#content::before {
	display: block;
	content: "";

	width: 100vw;
	height: 100%;
	
	position: absolute;
	top: 34.5vh;
	left: 0;
	background: #EAEAEA;
}

#main {
	grid-area: main;
	display: block;

	height: 100%;
	width: 100%;
	
	background: #F6F6F6;

	position: relative;
	z-index: 1;
}

#nextPaymentWrapper {
	position: fixed !important;
	top: 0;
	left: 0;
	z-index: 8;

	width: 100vw;
	height: 3vw;

	background: #F6F6F6;

	font-family: "Oxygen", sans-serif;
	font-style: lighter;
	font-size: 1.5vw;
	line-height: 3vw;
	text-align: center;
}
#nextPaymentWrapper.inactive {
	display: none;
}
#timeLeft {
	color: #444;
}

#loseWrapper {
	display: none;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;

	width: 26vw;
	height: 12vw;
	background: #EAEAEA;
	border: 1px solid #a0a0a0;
	border-radius: 0.4vw;
	
	padding: 2vw;
	padding-top: 1vw;
	border-top: 1vw solid #3BA1D3;

	font-family: "Lato", sans-serif;
	font-style: lighter;
	font-size: 2vw;
	text-align: center;
	transform-style: preserve-3d;
}
#loseWrapper.active {
	display: block;
}
#loseWrapper::before {
	background: #00000069;
	width: 200vw;
	height: 200vh;
	display: block;
	content: "";

	position: absolute;
	z-index: -1;
	top: -50vh;
	left: -50vw;

	transform: translateZ(-20px);
}
#loseWrapper span {
	display: inline-block;
	margin-top: 2vh;
}
#loseButton {
	padding: 0.6vw;
	padding-left:  2vw;
	padding-right: 2vw;
	margin-top: 1vh;

	display: inline-block;

	background: #3BA1D3;
	color: white;
	cursor: pointer;
}
#loseButton:hover {
	background: #46afe4;
}


#editNameWrapper {
	display: none;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;

	width: 26vw;
	height: 12vw;
	background: #EAEAEA;
	border: 1px solid #a0a0a0;
	border-radius: 0.4vw;
	
	padding: 2vw;
	padding-top: 1vw;
	border-top: 1vw solid #3BA1D3;

	font-family: "Lato", sans-serif;
	font-style: lighter;
	font-size: 2vw;
	text-align: center;
	transform-style: preserve-3d;
}
#editNameWrapper.active {
	display: block;
}
#editNameWrapper::before {
	background: #00000069;
	width: 200vw;
	height: 200vh;
	display: block;
	content: "";

	position: absolute;
	z-index: -1;
	top: -50vh;
	left: -50vw;

	transform: translateZ(-20px);
}
#nameEditInput {
	font-family: "Lato", sans-serif;
	font-style: lighter;
	font-size: 1.3vw;

	padding: 0.4vw;
	padding-left:  1vw;
	padding-right: 1vw;
	margin-top: 5vh;

	background: #F6F6F6;
	border: 1px solid #9c9c9c;
	border-radius: 0.2vw;
}
#nameEditInput:focus {
	outline: none;
}
#submitName {
	display: inline-block;
	
	padding: 0.4vw;
	padding-left:  3vw;
	padding-right: 3vw;

	margin-top: 2vh;

	color: white;
	font-size: 1.5vw;
	background: #3BA1D3;
	cursor: pointer;
}
#submitName.tooShort {
	background: #afafaf;
}

@media only screen and (min-width: 1500px) {
	body {
		width: 120vw;
	}
	header {
		width: 120vw;
		transform-origin: left top;
		transform: scale(0.833);
	}
	#content {
		grid-template-columns: 25vw 95vw;
		transform-origin: left top;
		transform: scale(0.833);
	}
	#main {
		height: 130%;
	}
	#content::before {
		width: 120vw;
	}
	#nextPaymentWrapper {
		width: 120vw;
	}
}

