
#content #title {
	grid-area: title;
	display: block;
	height: calc(100% - 0.7vw);
	
	position: relative;
	top: 0vw;
	
	background: #F6F6F6;

	border-bottom: 0.3vw solid #486A89;
}
#title nav {
	position: absolute;
	top: 0;
	transform: translateY(-100%);

	height: 2vw;
	width: 100vw;

	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: min-content;
}
#title nav .sectionTab {
	display: inline-block;
	background: #EAEAEA;

	padding-top: 1vw;
	padding-bottom: 1.25vw;
	
	width: 13vw;
	height: min-content;

	position: relative;
	top: -1.7vw;

	font-family: "Oxygen", sans-serif;
	font-style: lighter;
	font-size: 1.5vw;
	letter-spacing: 1px;
	line-height: 100%;
	text-align: center;

	user-select: none;
}
#title nav .sectionTab span {
	display: inline;
}
#title nav .sectionTab.active {
	background: #F6F6F6;
	padding-bottom: 1.4vw;
}
#title nav .sectionTab:not(.active):hover {
	cursor: pointer;
}
#title #nameTitle, #title #resources {
	font-family: "Lato", sans-serif;
	font-style: thin;
	font-size: 3.5vw;
	letter-spacing: 0.1vw;
	line-height: 100%;
	text-align: left;
	color: #333;
}
#title #nameTitle {
	margin-top: 1vw;
}
#nameTitle #editIcon {
	display: inline-block;
	width:  2vw;
	height: 2vw;

	position: relative;
	top: 0.1vw;

	background-image: url("../images/editIcon.png");
	background-repeat: no-repeat;
	background-size: contain;
}
#nameTitle>div:hover {
	cursor: pointer;
}
#resources {
	display: inline-block;
}
#resources div, #resources span {
	display: inline-block;
}
#title div {
	cursor: default;
}
#resources {
	display: grid;
	grid-template-areas: "followers likes comments money";
	grid-auto-flow: row;
	grid-template-columns: 17vw 12vw 12vw 12vw;

	letter-spacing: 0px;
}
#resources div:not(#totalFollowers) {
	margin-left: 0.4vw;
}
#resources div {
	font-size: 1.7vw;
}
#resources #totalFollowers {
	color: #007CC1;
}
#resources #totalLikes {
	color: #F53327;
}
#resources #totalMoney {
	color: #208d51;
}
#resources #totalComments {
	color: #333;
}
#resources #totalMoney::before {
	display: inline;
	content: "$";
}
#resources #totalLikes::before {
	display: inline-block;
	content: "";

	position: relative;
	top: 0.2vw;
	left: -0.4vw;

	width:  1.7vw;
	height: 1.7vw;

	background-image: url("../images/like.png");
	background-repeat: no-repeat;
	background-size: contain;
}
#resources #totalComments::before {
	display: inline-block;
	content: "";

	position: relative;
	top: 0.4vw;
	left: -0.4vw;

	width: 2vw;
	height: 2vw;

	background-image: url("../images/comment.png");
	background-position-y: 0.1vh;
	background-repeat: no-repeat;
	background-size: contain;
}